################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestCoreApp/.vs/TestCoreApp/v15
/TestCoreApp/.vs/TestCoreApp/DesignTimeBuild
